@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #555555 !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #555555 !important;
  border-color: #555555 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #555555 !important;
  border-color: #555555 !important;
}
.btn-primary:before {
  background-color: #2f2f2f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2f2f2f !important;
  border-color: #2f2f2f !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #222222;
  color: #222222;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #555555;
}
.btn-primary-outline:before {
  background-color: #555555;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #555555 !important;
  border-color: #555555 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #555555;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #555555 !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #222222 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #555555;
  border-color: #555555;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #555555;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c8c8c8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #555555;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #555555;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #555555;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #555555;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #555555;
}
/* Headers*/
/* Content */
.content11 .counter-container div .counter {
  background: #555555;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qRu9cPIYSg {
  background-image: url("../../../assets/images/dome2-1030x432.jpg");
}
.cid-qRu9cPIYSg .media-container-column .btn-bgr {
  z-index: 0;
}
.cid-qRuvS4PaTZ {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
}
.cid-qRuvS4PaTZ .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-qRuvS4PaTZ .card-img {
  padding-bottom: 2rem;
}
.cid-qRuvS4PaTZ .mbr-text {
  color: #767676;
}
.cid-qRuvS4PaTZ span {
  font-size: 14px;
  color: #ffffff;
}
.cid-qRuvS4PaTZ .mbr-section-btn {
  margin-left: 0;
}
.cid-qRuvS4PaTZ .date span {
  display: inline-block;
  background-color: #f27d7a;
  padding: 0.2rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-qRuvS4PaTZ .card-title {
    text-align: center;
  }
  .cid-qRuvS4PaTZ p.mbr-text,
  .cid-qRuvS4PaTZ p.date {
    text-align: center;
  }
}
.cid-qRuAMiwyn7 {
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qRuAMiwyn7 .text-content {
  padding-top: 30px;
  padding-bottom: 15px;
}
.cid-qRuAMiwyn7 .text-content .btn-bgr {
  z-index: 0;
}
.cid-qRuAMiwyn7 .mbr-overlay {
  background: linear-gradient(90deg, #d6173f, #4284df);
}
.cid-qRuAMiwyn7 h3 {
  color: #000000;
  font-weight: 300;
}
.cid-qRuAMiwyn7 p {
  color: #464646;
}
.cid-qRuAMiwyn7 h2 {
  color: #000000;
}
.cid-qRuAMiwyn7 .media-container-row {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 767px) {
  .cid-qRuAMiwyn7 .media-container-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.cid-qRuAMiwyn7 .text-content {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-qRuAMiwyn7 .text-content {
    width: 80%;
  }
}
@media (max-width: 599px) {
  .cid-qRuAMiwyn7 .text-content {
    width: 100%;
  }
}
.cid-qRuAMiwyn7 .media-content {
  padding-right: 1.5rem;
  padding-left: 0;
}
.cid-qRuAMiwyn7 .mbr-section-btn {
  margin-left: -0.8rem;
}
@media (max-width: 767px) {
  .cid-qRuAMiwyn7 .mbr-text {
    text-align: center;
  }
}
.cid-qRusEdecOb {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qRuoFGsOdR {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qRuoFGsOdR .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qRuoFGsOdR .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qRuoFGsOdR .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qRuoFGsOdR .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qRuoFGsOdR .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qRuoFGsOdR .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qRuoFGsOdR .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-qRuoFGsOdR .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qRuoFGsOdR .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qRuoFGsOdR ul {
  font-size: 0;
}
.cid-qRuoFGsOdR .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #4284df;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s;
}
.cid-qRuoFGsOdR .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 2px #4284df solid;
  border-radius: 0 !important;
}
.cid-qRuoFGsOdR .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-qRuubYyrAY {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-qRuubYyrAY a {
  color: #232323;
}
.cid-qRuubYyrAY a:hover {
  color: #555555;
}
.cid-qRuubYyrAY h5 {
  color: #4e6dcc;
}
.cid-qRuubYyrAY .card-img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cid-qRuubYyrAY .img-icon {
  width: auto;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  position: absolute;
}
@media (min-width: 992px) {
  .cid-qRuubYyrAY .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-qRun4gjDzC {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qQkKJfng7k {
  padding-top: 0px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-qQkKJfng7k .plan-body .btn-bgr {
  z-index: 0;
}
.cid-qQkKJfng7k .media-container-row {
  align-items: flex-start;
}
.cid-qQkKJfng7k .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qQkKJfng7k .plan {
  background: none;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
}
.cid-qQkKJfng7k .plan .mbr-overlay {
  background: #232323;
  opacity: 0.7;
}
.cid-qQkKJfng7k .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-qQkKJfng7k .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qQkKJfng7k .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qQkKJfng7k .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-qQkKJfng7k .plan .plan-body {
  position: relative;
  padding-bottom: 3rem;
}
.cid-qQkKJfng7k .plan-header {
  padding-bottom: 2rem;
  position: relative;
}
@media (max-width: 550px) {
  .cid-qQkKJfng7k .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qRuqRzXjLg {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-qRuqRzXjLg h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qRuqRzXjLg .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-qRuqRzXjLg .mbr-section-subtitle {
  color: #767676;
}
.cid-qRuqRzXjLg .pie_progress__number {
  text-align: center !important;
}
.cid-qRuqRzXjLg .card-title {
  margin-bottom: 0;
}
.cid-qRuqRzXjLg .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-qRuqRzXjLg .gardient-ini {
  position: absolute;
}
.cid-qRuqRzXjLg ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qRuqRzXjLg .card {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-qQkLw2QbZi {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qQkLw2QbZi h2,
.cid-qQkLw2QbZi h3,
.cid-qQkLw2QbZi p,
.cid-qQkLw2QbZi h4 {
  color: #0a0a0a;
}
.cid-qQkLw2QbZi .img-block img {
  height: 100%;
  max-height: 600px;
}
.cid-qQkLw2QbZi .mbr-iconfont {
  color: #555555;
  font-size: 2rem;
}
.cid-qQkLw2QbZi .input {
  margin-bottom: 15px;
}
.cid-qQkLw2QbZi .mbr-text {
  color: #767676;
}
.cid-qQkLw2QbZi a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qQkLw2QbZi .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qQkLw2QbZi .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qQkLw2QbZi .form-block {
  padding: 2rem;
  box-shadow: 0 0 5px #a8a8a8;
  background-color: #ffffff;
}
.cid-qQkLw2QbZi .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-qQkLw2QbZi .card-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  text-align: center;
}
.cid-qQkLw2QbZi .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cid-qQkLw2QbZi .list-block {
  position: relative;
}
.cid-qQkLw2QbZi .list-block h4,
.cid-qQkLw2QbZi .list-block p {
  padding-left: 3.5rem;
}
.cid-qQkLw2QbZi .card-img {
  display: block;
}
@media (max-width: 767px) {
  .cid-qQkLw2QbZi h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-qQkLw2QbZi .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-qQkLw2QbZi .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
  .cid-qQkLw2QbZi .img-block-wrap {
    position: relative;
  }
  .cid-qQkLw2QbZi .img-block-wrap .img-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .cid-qQkLw2QbZi .img-block-wrap .img-block img {
    height: 100%;
  }
  .cid-qQkLw2QbZi .text-content {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qQkLw2QbZi .google-map {
    padding-bottom: 2rem;
  }
  .cid-qQkLw2QbZi .img-block {
    overflow: hidden;
  }
}
.cid-qRuv3Zee0W {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-qRumoT3Cw3 .google-map {
  height: 25rem;
  position: relative;
}
.cid-qRumoT3Cw3 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qRumoT3Cw3 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qRumoT3Cw3 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qRumoT3Cw3 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-qQkLCcbIeT {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 400px) {
  .cid-qQkLCcbIeT h2 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}
@media (min-width: 767px) {
  .cid-qQkLCcbIeT h2 {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
.cid-qQkLCcbIeT .media-container-row {
  justify-content: space-between;
}
.cid-qQkLCcbIeT .socicon-bg-facebook {
  color: #3e5b98;
}
.cid-qQkLCcbIeT .socicon-bg-twitter {
  color: #4da7de;
}
.cid-qQkLCcbIeT .socicon-bg-googleplus {
  color: #dd4b39;
}
.cid-qQkLCcbIeT .socicon-bg-vkontakte {
  color: #5a7fa6;
}
.cid-qQkLCcbIeT .socicon-bg-odnoklassniki {
  color: #f48420;
}
.cid-qQkLCcbIeT .socicon-bg-pinterest {
  color: #c92619;
}
.cid-qQkLCcbIeT .socicon-bg-mail {
  color: #134785;
}
.cid-qQkLCcbIeT .btn-social {
  border: none !important;
}
.cid-qQkLCcbIeT .btn-social:hover {
  color: #ffffff;
  background: #555555;
}
.cid-qQkLCcbIeT [class^="socicon-"]:before,
.cid-qQkLCcbIeT [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-qQkLCcbIeT .btn {
    font-size: 20px !important;
  }
}
.cid-qQkLSdV514 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #a2a2a2;
}
.cid-qQkLSdV514 p {
  text-align: center;
}
.cid-qQkLSdV514 .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qQkLSdV514 .btn-underline:hover {
  color: #505050;
}
.cid-qQkLSdV514 .btn-underline:before {
  background-color: #505050;
}
.cid-qQkLSdV514 .social-list a:focus {
  text-decoration: none;
}
.cid-qQkLSdV514 .text-copyright {
  width: 100%;
}
.cid-qQkLSdV514 .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-qQkLSdV514 .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-qQkLSdV514 .logo-footer {
  line-height: normal;
}
.cid-qQkLSdV514 .copyright {
  display: flex;
  align-items: center;
}
.cid-qQkLSdV514 .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qQkLSdV514 .mbr-section-btn {
  font-size: 16px;
}
.cid-qQkLSdV514 .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
.cid-qRu8fi4jUz .navbar {
  padding: .5rem 0;
  background: #555555;
  transition: none;
  min-height: 77px;
}
@media (min-width: 992px) {
  .cid-qRu8fi4jUz .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 2.5385em 0.235em 3.5385em !important;
    margin: 0 !important;
  }
}
.cid-qRu8fi4jUz .menu-logo {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: auto;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRu8fi4jUz .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRu8fi4jUz .navbar-dropdown.bg-color.transparent.opened {
  background: #555555;
}
.cid-qRu8fi4jUz a {
  font-style: normal;
}
.cid-qRu8fi4jUz .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qRu8fi4jUz .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-qRu8fi4jUz .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qRu8fi4jUz .dropdown-item:hover:before {
  transform: scale(1, 1);
  width: 16px;
}
.cid-qRu8fi4jUz .content-text {
  margin-bottom: 0;
}
.cid-qRu8fi4jUz .navbar-nav {
  position: relative;
  min-height: 60px;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-qRu8fi4jUz .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #555555;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-qRu8fi4jUz .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-qRu8fi4jUz .navbar-nav .nav-item a {
    margin: 0 1.3rem !important;
  }
}
@media (max-width: 991px) {
  .cid-qRu8fi4jUz .navbar-nav .nav-item a {
    margin: 0!important;
  }
}
.cid-qRu8fi4jUz .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-qRu8fi4jUz .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qRu8fi4jUz .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qRu8fi4jUz .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-qRu8fi4jUz .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qRu8fi4jUz .nav-dropdown .link {
  font-weight: 400;
}
.cid-qRu8fi4jUz .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-qRu8fi4jUz .menu-content-top .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qRu8fi4jUz .menu-content-top .row p {
  padding: 0.5rem 0;
}
.cid-qRu8fi4jUz .menu-content-top .row a {
  padding: 0.5rem 0;
}
.cid-qRu8fi4jUz .content-right-side {
  text-align: center;
}
.cid-qRu8fi4jUz .menu-content-top {
  display: none;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.cid-qRu8fi4jUz .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-qRu8fi4jUz .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
@media (min-width: 992px) {
  .cid-qRu8fi4jUz .navbar .menu-content-top {
    display: block;
  }
  .cid-qRu8fi4jUz .menu-content-top .row {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .cid-qRu8fi4jUz .content-right-side {
    align-items: center;
    justify-content: flex-end;
    flex-basis: 70%;
    flex-shrink: 0;
    text-align: right;
    flex-wrap: wrap;
    display: flex;
  }
  .cid-qRu8fi4jUz .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-qRu8fi4jUz .menu-bottom {
    display: flex;
  }
  .cid-qRu8fi4jUz .navbar {
    display: block;
    padding: 0;
  }
  .cid-qRu8fi4jUz .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-qRu8fi4jUz .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-qRu8fi4jUz .navbar-toggler {
    display: none;
  }
}
.cid-qRu8fi4jUz .navbar-short .menu-content-top {
  height: 0;
  border: none;
}
.cid-qRu8fi4jUz .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRu8fi4jUz .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-qRu8fi4jUz .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRu8fi4jUz .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRu8fi4jUz .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRu8fi4jUz .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu {
  background: #555555;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qRu8fi4jUz .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRu8fi4jUz .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRu8fi4jUz .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRu8fi4jUz .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRu8fi4jUz .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRu8fi4jUz .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRu8fi4jUz .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRu8fi4jUz .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRu8fi4jUz button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
}
.cid-qRu8fi4jUz button.navbar-toggler:focus {
  outline: none;
}
.cid-qRu8fi4jUz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRu8fi4jUz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRu8fi4jUz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRu8fi4jUz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRu8fi4jUz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRu8fi4jUz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRu8fi4jUz nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRu8fi4jUz nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRu8fi4jUz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRu8fi4jUz .collapsed.navbar {
  flex-direction: column;
}
.cid-qRu8fi4jUz .collapsed .menu-bottom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qRu8fi4jUz .collapsed .menu-logo {
  margin-right: 0;
}
.cid-qRu8fi4jUz .collapsed .btn {
  display: flex;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse.collapsing,
.cid-qRu8fi4jUz .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRu8fi4jUz .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRu8fi4jUz .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRu8fi4jUz .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRu8fi4jUz .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRu8fi4jUz .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRu8fi4jUz .collapsed button.navbar-toggler {
  display: block;
  align-self: center;
}
.cid-qRu8fi4jUz .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qRu8fi4jUz .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRu8fi4jUz .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .25s;
  transition-property: opacity,padding,height;
}
.cid-qRu8fi4jUz .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRu8fi4jUz .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRu8fi4jUz .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-qRu8fi4jUz .collapsed .dropdown-item:before {
  display: none;
}
@media (max-width: 991px) {
  .cid-qRu8fi4jUz .dropdown-item {
    padding: 0.235em 0!important;
    margin: 0!important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-qRu8fi4jUz .dropdown-item:before {
    display: none;
  }
  .cid-qRu8fi4jUz .menu-logo {
    margin-right: 0;
  }
  .cid-qRu8fi4jUz img {
    height: 3.8rem !important;
  }
  .cid-qRu8fi4jUz .btn {
    display: flex;
  }
  .cid-qRu8fi4jUz button.navbar-toggler {
    display: block;
  }
  .cid-qRu8fi4jUz .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qRu8fi4jUz .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRu8fi4jUz .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRu8fi4jUz .navbar-collapse.collapsing,
  .cid-qRu8fi4jUz .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRu8fi4jUz .navbar-collapse.collapsing .navbar-nav,
  .cid-qRu8fi4jUz .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRu8fi4jUz .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRu8fi4jUz .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRu8fi4jUz .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRu8fi4jUz .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRu8fi4jUz .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRu8fi4jUz .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRu8fi4jUz .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRu8fi4jUz .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRu8fi4jUz .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRu8fi4jUz .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qRu8fi4jUz .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-qRu8fi4jUz .navbar-collapse {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.cid-qRu8fi4jUz .nav-link:focus {
  outline: none;
}
.cid-qRu8fi4jUz .navbar-toggler {
  position: relative;
}
.cid-qRu8fi4jUz .dropdown-item.active,
.cid-qRu8fi4jUz .dropdown-item:active {
  background-color: #555555;
  color: auto;
}
.cid-qRu8fi4jUz .nav-link:hover,
.cid-qRu8fi4jUz .dropdown-item:hover {
  color: #cccccc;
}
